<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cell.component.httpsecurity.security.mapper.SecurityUserGroupMapper">

    <resultMap type="com.cell.component.httpsecurity.security.entity.SecurityUserGroup" id="SecurityUserGroupResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="groupLevel" column="group_level" jdbcType="INTEGER"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
        id
        , user_id, group_id, group_level, group_name, create_date, update_date
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="SecurityUserGroupResultMap" parameterType="java.lang.Integer">
        select
        <include refid="table_field"/>
        from security_user_group
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="SecurityUserGroupResultMap"
            parameterType="com.cell.component.httpsecurity.security.entity.SecurityUserGroup">
        select
        <include refid="table_field"/>
        from security_user_group
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId,jdbcType=INTEGER}
            </if>
            <if test="groupLevel != null">
                and group_level = #{groupLevel,jdbcType=INTEGER}
            </if>
            <if test="groupName != null">
                and group_name = #{groupName,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="SecurityUserGroupResultMap"
            parameterType="com.cell.component.httpsecurity.security.entity.SecurityUserGroup">
        select
        <include refid="table_field"/>
        from security_user_group
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId,jdbcType=INTEGER}
            </if>
            <if test="groupLevel != null">
                and group_level = #{groupLevel,jdbcType=INTEGER}
            </if>
            <if test="groupName != null">
                and group_name = #{groupName,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="SecurityUserGroupResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from security_user_group
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.cell.component.httpsecurity.security.entity.SecurityUserGroup">
        insert into security_user_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="groupLevel != null">
                group_level,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=INTEGER},
            </if>
            <if test="groupLevel != null">
                #{groupLevel,jdbcType=INTEGER},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into security_user_group
        (id, user_id, group_id, group_level, group_name, create_date, update_date)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (#{item.id}, #{item.userId}, #{item.groupId}, #{item.groupLevel}, #{item.groupName}, #{item.createDate},
            #{item.updateDate})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.cell.component.httpsecurity.security.entity.SecurityUserGroup">
        update security_user_group
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="groupLevel != null">
                group_level = #{groupLevel,jdbcType=INTEGER},
            </if>
            <if test="groupName != null and groupName != ''">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update security_user_group
        <set>
            <if test="where.userId == null and set.userId != null">
                user_id = #{set.userId,jdbcType=INTEGER},
            </if>
            <if test="where.groupId == null and set.groupId != null">
                group_id = #{set.groupId,jdbcType=INTEGER},
            </if>
            <if test="where.groupLevel == null and set.groupLevel != null">
                group_level = #{set.groupLevel,jdbcType=INTEGER},
            </if>
            <if test="where.groupName == null and set.groupName != null and set.groupName != ''">
                group_name = #{set.groupName,jdbcType=VARCHAR},
            </if>
            <if test="where.createDate == null and set.createDate != null">
                create_date = #{set.createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="where.updateDate == null and set.updateDate != null">
                update_date = #{set.updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.userId != null">
                and user_id = #{where.userId,jdbcType=INTEGER}
            </if>
            <if test="where.groupId != null">
                and group_id = #{where.groupId,jdbcType=INTEGER}
            </if>
            <if test="where.groupLevel != null">
                and group_level = #{where.groupLevel,jdbcType=INTEGER}
            </if>
            <if test="where.groupName != null">
                and group_name = #{where.groupName,jdbcType=VARCHAR}
            </if>
            <if test="where.createDate != null">
                and create_date = #{where.createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="where.updateDate != null">
                and update_date = #{where.updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update security_user_group
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="user_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.userId}
                </foreach>
            </trim>
            <trim prefix="group_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.groupId}
                </foreach>
            </trim>
            <trim prefix="group_level = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.groupLevel}
                </foreach>
            </trim>
            <trim prefix="group_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.groupName}
                </foreach>
            </trim>
            <trim prefix="create_date = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createDate}
                </foreach>
            </trim>
            <trim prefix="update_date = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.updateDate}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from security_user_group
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.cell.component.httpsecurity.security.entity.SecurityUserGroup">
        delete from security_user_group
        <where>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId,jdbcType=INTEGER}
            </if>
            <if test="groupLevel != null">
                and group_level = #{groupLevel,jdbcType=INTEGER}
            </if>
            <if test="groupName != null">
                and group_name = #{groupName,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from security_user_group where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(*)
        from security_user_group
    </select>

    <select id="countByEntity" parameterType="com.cell.component.httpsecurity.security.entity.SecurityUserGroup"
            resultType="int">
        select count(*) from security_user_group
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId,jdbcType=INTEGER}
            </if>
            <if test="groupLevel != null">
                and group_level = #{groupLevel,jdbcType=INTEGER}
            </if>
            <if test="groupName != null">
                and group_name = #{groupName,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>
